html, body {
  height: 100%;
}


.main-container{
  height: 100%;
  width: 100%;
  background-color: #679490;
}


#canvas-area{
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


#modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content{
  background-image: url("../images/breaker_welcome_screen.png");
  background-size: cover;
  width: 900px;
  height: 700px;
}

button{
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
#start-button{
  position: absolute;
  top: 450px;
  left: 743px;
  background-color: #679490;
  width: 325px;
  height: 50px;
  text-align: center;
  font-family: "Arial";
  letter-spacing: 1px;
  color:white;
  font-size: 20px;
  font-weight: bold;
}

canvas{
  margin-right: 40px;
}

#start-button:hover{
  background-color: #249490;
}

.balls-left-container{
  position: relative;
  z-index: 1;
  right: 70px;
}

.ball{
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.place-holder{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}
