html, body {
  height: 100%;
}


.main-container{
  height: 100%;
  width: 100%;
  background-color: black;
}


#canvas-area{
  display: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content{
  background-color: white;
  width: 900px;
  height: 700px;
}
